.heading {
  text-align: center;
  font-size: bold;
  text-transform: uppercase;
  color: blue;
}
.outerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-grow: 50px;
}

.card {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}
.nameSection {
  color: blue;
  font-weight: bolder;
  margin-top: 15px;
  font-size: 1.5em;
}
.emailSection {
  display: flex;
}
