.container{
    text-align: center;

}
.headingAlbum{
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
}
.outerContainer {
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 50px;
  }